<div class="container-fluid bg-warning" style="padding-top:20px;padding-bottom:20px">
  <h1 textContent="{{name}} {{price | currency:'$'}}"></h1>
  <!-- {{name}} -->
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the
    navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the
    navigation bar while scrolling!</p>
</div>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <button (click)="onDelete()" class="btn btn-primary">
        Delete
      </button>
    </div>
    <div class="col-xs-10">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let driver of drivers">
            {{driver.name}}
          </li>
        </ul>
    </div>
  </div>
</div>