<div class="container-fluid bg-warning" style="padding-top:70px;padding-bottom:70px">
  <h1 textContent="{{name}} {{price | currency:'$'}}"></h1>
  <!-- {{name}} -->
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the
    navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the
    navigation bar while scrolling!</p>


    <ul class="list-group">
      <li class="list-group-item" *ngFor="let driver of drivers">
      {{driver.name}}
      </li>
    </ul>


  <!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let driver of drivers">
    {{driver.id}} {{driver.name}} {{driver.age}} 
    </li>
  </ul> -->

    <button (click)="onDelete()" class="btn btn-primary">
      Delete
    </button>
</div>