<div class="container-fluid bg-info" style="padding-top:20px;padding-bottom:20px">
  <h1>Attribute Vs Property</h1>
  <p>Attribute and Property are not same</p>
  <p>Attribute - HTML</p>
  <p>Property - DOM</p>
  <p>Attribute initialization DOM properties and then they are done.
    Attribute values cannot changes once they are initialized
  </p>
  <p>Property values however can changes</p>
</div>
  <hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <h2>Property Binding - Enable - Disable {{name}}</h2>
      <input [id]='myId' type="text" value="Santosh" />
      <input [disabled]='isDisabled' id='{{myId}}' type="text" value="Santosh" />
      <input bind-disabled='isDisabled' id='{{myId}}' type="text" value="Santosh" />

    </div>
    <div class="col-sm-4 col-xs-12">
      <button (click)="btnClick($event)">Click to run function</button>
      <br>
      <br>
      <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong>
        <br> >>> {{btnText}} 
        <br> >>> Type :  {{btnTextType}}
      </div>

      

    </div>
    <div class="col-sm-4 col-xs-12">

      <h2>If Statement</h2>

      <button (click)="showValue()">Show Value</button>
      <div *ngIf="displanValue; then thenBlock; else elseBlock"></div>

      <ng-template #thenBlock>
        <div>Hey this is the value</div>
      </ng-template>

      <ng-template #elseBlock>
        <div>Hiddem</div>
      </ng-template>

    </div>
  </div>
</div>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">

      <button (click)="greeting = 'Welcome Santosh ? Thakur : kumar11111  '">Click to run function</button>
      {{greeting}}

    </div>
    <div class="col-sm-6">
        <h2>ngFor</h2>
        <span *ngFor="let i of [1,2,3,4,5]"> Number {{i}} </span>
    </div>
  </div>
</div>