<div class="container-fluid bg-info" style="padding-top:70px;padding-bottom:70px">
  <h1>Attribute Vs Property</h1>
  <p>Attribute and Property are not same</p>
  <p>Attribute - HTML</p>
  <p>Property - DOM</p>
  <p>Attribute initialization DOM properties and then they are done.
    Attribute values cannot changes once they are initialized
  </p>
  <p>Property values however can changes</p>

  <hr>
  <div>
    <div>
      <h2>What About {{name}}</h2>
      <input [id]='myId' type="text" value="Santosh" />
      <input [disabled]='isDisabled' id='{{myId}}' type="text" value="Santosh" />
      <input bind-disabled='isDisabled' id='{{myId}}' type="text" value="Santosh" />

      <br>
      <br>
      <br>

      <button (click)="btnClick($event)">Click to run function</button>
      Button Text Visible here > {{btnText}} >>> Type {{btnTextType}}

      <br>
      <br>

      <button (click)="greeting = 'Welcome Santosh ? Thakur : kumar11111  '">Click to run function</button>
      {{greeting}}
    </div>

    <br>
    <br>
    <br>
    <div>
      <h2>If Statement</h2>

      <button (click)="showValue()">Show Value</button>
      <div *ngIf="displanValue; then thenBlock; else elseBlock"></div>

      <ng-template #thenBlock>
        <div>Hey this is the value</div>
      </ng-template>

      <ng-template #elseBlock>
        <div>Hiddem</div>
      </ng-template>


       

    </div>

    <div>
      <h2>ngFor</h2>

      <div *ngFor="let i of [1,2,3,4,5]"> Number {{i}} </div>
    </div>


  </div>
</div>
